@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');   

*{

    padding: 0px;
    margin: 0px;

}


#navbar {
    border: 1px solid black;
    margin: 0px;
    padding: 10px;
    text-align: right;
    background-color:#031A6B;
    text-decoration: none;
}

#navbar #links a{

    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    font-weight: 600;
    opacity: .500;
    transition: 0.3s;
    background-color: white;
    
}

#logo{
    
    text-align: left;
    margin: 5px;
    padding: 5px;
    border:1px #031A6B;
    border-radius: 50%  ;
}



#links{

    display: inline;
    text-decoration: none;
    
}

#banner{
    padding: 30px;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;

        font-family: 'Public Sans', sans-serif;
}

#banner h1{
    color: #033860;
    text-align: left;


}

#banner span{
    color: #05B2DC;
}

#banner p{
    color: aqua;
    margin-bottom: 30px;
    
}

#banner a{
    padding: 20px;
    color: #0068df;
    text-decoration: none;
    background-color: #AFEEFD;
    font-family: 'Dela Gothic One', cursive;
font-family: 'Young Serif', serif;
    text-transform: uppercase;
}

#banner #matcha{
    color: green;

}

#footer{

    border: 1px solid black;
    margin-top: 0px;
    padding: 10px;
    text-align: end ;
    background-color:#031A6B;
    text-decoration: none;
    height: 500;
}

#link{
    display: inline;
}

#footer link a{
        display: inline;
        
}

#footer p{

    text-align: left;
    color: white;
}